@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}




h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 400px;
    background-color: hsl(244, 38%, 16%);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-container{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.container .img-container .image{
    background-image: url('images/image-header-mobile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    display: block;
    height: 250px;
}

.container .img-container .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%,30%);
    top: 0;
    left: 0;
    z-index: 1000;
}
.container .text{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
.container .text h1{
    text-align: center;
    font-size: 27px;
}
.container .text h1 span{
    color: hsl(277, 64%, 61%);
}
.container .text p{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 25px;
}

.container .text .flex {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.container .text .flex .flex-item {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.container .text .flex .flex-item p{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}
.container .text .flex .flex-item:last-child{
    margin-bottom: 0;
}

.attribution {
    display: none;
}

@media screen and (min-width: 1440px){

    body{
        height: 100vh;
    }
    .container{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }

    .container .img-container{
        padding: 0;
        position: relative;
    }
    
    .container .img-container .image{
        background-image: url('images/image-header-desktop.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }

   
    .container .text {
       padding: 40px 40px 10px 40px;
        
    }

    .container .text h1{
        text-align: start;
        font-size: 32px;
    }
    .container .text p{
        text-align: start;
        font-size: 12px;
        
    }
    .container .img-container{
        margin-left: 20px;
    }
    .container .text .flex{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 50px;
    }

}